body {
	display: flex;
	justify-content: center;
}

.body-wrapper {
	margin: 50px;
	padding: 20px;
	max-width: 800px;
	min-height: 600px;
	background-color: lightcyan;
}

button {
	margin: 25px 0;
}

h1{
	font-family: 'Shadows Into Light';
	font-weight: bold;
	font-size: 50px;
}